@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700;900&display=swap');

* { box-sizing: border-box; }

body {
  background-color: whitesmoke;
  font-family: 'Commissioner', sans-serif;
}

h1, h2 {
  font-weight: 900;
}

.game_zone {
  display: grid;
}
.game_zone--sidebar {
  background-color: gainsboro;
  grid-row: 0;
  grid-column: 1/1;
  padding: 16px;
}
.game_zone--main {
  grid-row: 1;
  grid-column: 2/8;
  background-color: whitesmoke;
}

.box {
  background:  honeydew;
  padding: 32px;
  display: flex;
}

.card_group {
  margin-right: 8px;
}
.card_label {
  font-size: .65rem;
  margin: 0;
  font-weight: 700;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card_half {
  display: block;
  border: none;
  border-radius: .5rem .5rem 0 0;
  font-size: .75rem;
  padding: 1rem;
  width: 94px;
  height: 72px;
  margin: 0;
  border: 1px solid cadetblue;
  border-bottom: none;
}
.card_half + .card_half {
  border-radius: 0 0 .5rem .5rem;
  border: 1px solid cadetblue;
  border-top: none;
}
.card_half:hover {
  filter: saturate(30%);
}
.card_shuffler {
  background: gainsboro;
  border-radius: .25rem;
  border: 0;
  padding: 4px 8px;
  font-size: .65rem;
  font-weight: 700;
  color: gray;
}

.dice_group {
  border-radius: 200px;
  border: 1px solid cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 128px;
  width: 128px;
  text-align: center;
  font-size: .65rem;
  font-weight: 700;
}
.dice_open {
  background-color: midnightblue;
  color: whitesmoke;
  border-radius: .25rem;
  border: none;
  padding: 4px 8px;
  font-size: .65rem;
  font-weight: 700;
}
.dice_group:hover {
  filter: saturate(30%);
}